.abc{
    font-size: 20px;
}
.ant-card-cover img {
    width: 200px;
    height: 200px;
}
.ant-card-cover {
    background: #f5f5f5;
    display: -webkit-flex;
    display: flex;
    webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.card-title{
    font-size: 1.17em;
    font-weight: 500;
    margin-bottom: 5px;
}
.contact-info{
    color: rgba(0,0,0,.65);
    line-height: 1.5;
    margin-top:5px;
}
ul.ant-card-actions {
    background: #fafafa !important;
    border-top: 1px solid #e8e8e8 !important;
}
ul.ant-card-actions .anticon{
    font-size: 20px !important;
    line-height: 22px;
}
.contact-img{
    margin-top: 3px;
    font-size: 18px;
    color: rgba(0,0,0,.65);
}
.ant-modal-content .ant-modal-body input {
    margin: 8px 0;
}
